.detailContainer {
    margin: 2rem;
}

.detailContainer h2 {
    font-size: 40px;
}

.infoContainer {
    display: flex;
}

.cardContainer {
    position: relative;
    width: 512px;
}

.textContainer {
    position: absolute;
    bottom: 70px;
    left: 65px;
}

.textContainer h3 {
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    font-weight: 200;
}

.textContainer p {
    font-size: 50px;
}

.listContainer {
    margin: 0 1rem;
}

.listContainer li {
    display: flex;
    margin: 2rem 0;
}

.listContainer h4,
.listContainer p {
    margin: 0 1rem;
}