html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root{
  --background-color-nav:#F7F7F9;
  --background-color-landing:#1B1F26;
  --color-letters:#FFFFFF;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
